<app-navigation></app-navigation>
<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title class="titre"> La Poste</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">N° de l'objet</ion-label>
          <ion-input type="text" size="1" clearInput></ion-input>
        </ion-item>
      </ion-list>
      <ion-list >
        <ion-item>
          <ion-label class="list-label">2C10980296980</ion-label>
          <ion-label class="list-label">John Doe</ion-label>
          <ion-label class="list-label">22/01/2022</ion-label>
          <ion-button shape="round" color="danger" size="defeult" class="list-bouton">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label class="list-label">1A29801098096</ion-label>
          <ion-label class="list-label">Jane Smith</ion-label>
          <ion-label class="list-label">22/01/2022</ion-label>
          <ion-button shape="round" color="danger" size="defeult" class="list-bouton">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
