<ion-app>
  <ion-header >
    <ion-toolbar class="ion-text-center" >
      <ion-title >
        LA POSTE / MONDIAL RELAY
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-title size="large" class="ion-text-center">
          <ion-button color="warning">LA POSTE</ion-button>
          <ion-button color="danger">MONDIAL <br/> RELAY</ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
